*{
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url( "../css/images/background 1.png");
    background-repeat: no-repeat;
background-size: 100%;
}

.header {
    display: flex;
   justify-content: center;
   margin-bottom: 15px;
}

.header-menu {
    display: flex;
    width: 1030px;
    height: 62px;
   
    margin-top: 46px;
    text-align: center;
   color: white;
   flex-direction: row;
  
   justify-content: space-between;

}

.hover-logo {
    position: absolute;
    left: 0;
    display: none;
}
.text:hover {
    color: orange;
}

.first {
    display: flex;
    gap: 8px;
}
.first:hover .hover-logo{
    display: block;
}
.logo {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 52px;
    gap: 0;
    justify-content: space-between;
   
}

h1 {
    display: flex;
    width: 140px;
    height: 30px;
    margin: 0;
}

h2 {
    display: flex;
    width: 135px;
    height: 20px;
    margin: 0;
}

.text-img {
    display: flex;
    position: relative;
    
}
.text-img img {
    width: 53px;
    height: 47px;
}
.image-header{
    display: flex;
    display: inline;
}

.text {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 52px;
    gap: 0;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}

.logo-mail {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-mail:hover {
    color: orange;
}

.conteiner {
    
    width: 1030px;
    height: 560px;
  
    display: flex;
   margin: 0 auto;
   flex-wrap: wrap;
   justify-content: space-between;
 
}


.footer {
    color: white;
    padding-top: 50px;
    text-align: center;
}

.text-item {
    text-decoration: none;
    color: white;
    bottom: -20px;
    font-family: 'Roboto';
    position: absolute;
    left: 50%;
transform: translateX(-50%);
margin-bottom: 37px;
}

.flex-item:hover .text-item{
    color: orange;
}
.flex-item:hover .item-content {
display: flex;
}
.item-content {
    position: absolute;
    background-color: orange;
    height: 55px;
    width: 100%;
    display: none;
    justify-content: space-between;
    bottom: 55px;
    padding: 7px 16px 8px;
    color: white;
    
}
.item-content p {
    margin: 0;
  
}
.flex-item {
    position: relative;
}

.item-content-right {
    display: flex;
    align-items: end;
}

.symbol {
    color: white;
    padding-left: 16px;
}